#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

[org/gnome/login-screen]
banner-message-enable=true
banner-message-text='Workstation'
disable-restart-buttons=true
disable-user-list=true