#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

[org/gnome/login-screen]
banner-message-enable=false
banner-message-text=''
disable-restart-buttons=false
disable-user-list={{ workstation_gdm_settings.disable_user_list }}